<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.persistence.courses.IGradeDAO">

    <insert id="create">
        INSERT INTO grades (id, course_id, grade) VALUES (#{gradeId}, #{grade.courseId}, #{grade.grade})
    </insert>

    <select id="getById" resultMap="GradeResult">
        SELECT id as grade_id, course_id, grade
        FROM grades
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="GradeResult">
        SELECT *
        FROM grades
    </select>

    <update id="update">
        UPDATE grades SET course_id = #{grade.courseId}, grade = #{grade.grade} WHERE id = #{grade.id}
    </update>

    <delete id="delete">
        DELETE FROM grades WHERE id = #{id}
    </delete>

    <resultMap id="GradeResult" type="com.solvd.laba.domain.courses.Grade" autoMapping="false">
        <id column="grade_id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="grade" property="grade"/>
    </resultMap>

</mapper>
