<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.persistence.courses.IOnsiteCourseDAO">

    <insert id="create">
        INSERT INTO onsite_courses (id, room_number, date, course_id) VALUES (#{onsiteCourseId}, #{onsiteCourse.roomNumber}, #{onsiteCourse.date}, #{onsiteCourse.courseId})
    </insert>

    <select id="getById" resultMap="OnsiteCourseResult">
        SELECT id as onsite_course_id, room_number, date, course_id
        FROM onsite_courses
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="OnsiteCourseResult">
        SELECT id as onsite_course_id, room_number, date, course_id
        FROM onsite_courses
    </select>

    <update id="update">
        UPDATE onsite_courses SET room_number = #{onsiteCourse.roomNumber}, date = #{onsiteCourse.date}, course_id = #{onsiteCourse.courseId} WHERE id = #{onsiteCourse.id}
    </update>

    <delete id="delete">
        DELETE FROM onsite_courses WHERE id = #{id}
    </delete>

    <resultMap id="OnsiteCourseResult" type="com.solvd.laba.domain.courses.OnsiteCourse" autoMapping="false">
        <id column="onsite_course_id" property="id"/>
        <result column="room_number" property="roomNumber"/>
        <result column="date" property="date"/>
        <result column="course_id" property="courseId"/>
    </resultMap>

</mapper>
