<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.persistance.courses.IAttendanceDAO">
    <insert id="create" keyColumn="id" keyProperty="attendance.id" useGeneratedKeys="true">
        INSERT INTO attendance (status, date) VALUES (#{attendance.status}, #{attendance.date})
    </insert>

    <select id="getById" resultMap="AttendanceResult">
        SELECT a.id AS attendance_id, a.date AS attendance_date, a.status AS attendance_status
        FROM attendance a
        WHERE a.id = #{id}
    </select>

    <select id="getAll" resultMap="AttendanceResult">
        SELECT * FROM attendance
    </select>

    <insert id="create">
        INSERT INTO attendance (status, date) VALUES (#{status}, #{date})
    </insert>

    <update id="update">
        UPDATE attendance SET status = #{status} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM attendance WHERE id = #{id}
    </delete>

    <resultMap id="AttendanceResult" type="com.solvd.laba.domain.courses.info.Attendance" autoMapping="false">
        <id column="attendance_id" property="id"/>
        <result column="attendance_date" property="date"/>
        <result column="attendance_status" property="status"/>
    </resultMap>


</mapper>